@charset "UTF-8";

body{
  background-color: aliceblue;
}

h1{
  font-family:  serif;
}

h2{
  font-family: "ゴシック体", "Yu Gothic, YuGothic, sans-serif";
  text-align: justify;
}

p{
  border-style: solid;
  border-color: brown;
}

ul{
  list-style-type: armenian;
}