<!doctype html>
<html lage="ja">
    <head>
      <meta charest="UTF-8">
      <title>猫の実態</title>
      <meta name="description" content="猫の好きなもの、日々の生活を紹介">
      </head>

      <body>
        <header>
        <h1>ページタイトル</h1>
        <nav>
          <ul>
            <li><a href="#">サービス紹介</a></li>
            <li><a href="#">料金</a></li>
            <li><a href="#">お問い合わせ</a>></li>
          </ul>
        </nav>
        </header>

      <main>
        <article>
          <h2>記事タイトル</h2>
          <p>最新のスマートフォン156!!</p>
        </article>

        <section>
          <h2>その他のおすすめ記事</h2>
            <ul>
              <li><a href="#">スマートウオッチって使える？使えない？</a></li>
              <li><a href="#">ランニングはこの靴がおすすめ！！</a></li>
            </ul>
        </section>
      </main>

      <aside>
        <h3>中の人ってこんな人</h3>
        <p>このWEBサイトで情報発信しているゴリです。よろしく！</p>
      </aside>

        <h1>猫の一日</h1>
        <p>ひたすら寝ています</p>
        <a href="https://gogle.co.jp" target="_blank">gogle</a>
        <ol>
        <li>ああ</li>
        <li>いい</li>
        </ol>
        <table border="1">
          <tr>
            <th colspan="2">プラン名</th>
          </tr>
          <tr>
            <td rowspan="2">わくわくプラン</td>
            <td>月額2,900円</td>
          </tr>
          <tr>
            <td>月額1,900円</td>
          </tr>
        </table>
        名前：<input type="text" placeholder="名前">
      <div>
        性別：
        <input type="checkbox" name="gender" value="男">男
        <input type="checkbox" name="gender" value="女" checked="女">女
      </div>
      <textarea name="message" placeholder="メッセージ入力"></textarea></textarea>

      <input type="checkbox" neme="travel" value="日本国内" id="japan">
      <label for="japan">日本国内</label>

      </body>
</html>
