<!doctype html>
<html lage="ja">
    <head>
      <meta charest="UTF-8">
      <title>猫の実態</title>
      <meta name="description" content="猫の好きなもの、日々の生活を紹介">
      </head>

      <body>
        <h1>猫の一日</h1>
        <p>ひたすら寝ています</p>
        <a href="https://gogle.co.jp" target="_blank">gogle</a>
        <ol>
        <li>ああ</li>
        <li>いい</li>
        </ol>
      </body>
</html>
