<!doctype html>
<html lage="ja">
    <head>
      <meta charest="UTF-8">
      <title>猫の実態</title>
      <meta name="description" content="猫の好きなもの、日々の生活を紹介">
      </head>

      <body>
        <h1>猫の一日</h1>
        <p>ひたすら寝ています</p>
        <a href="https://gogle.co.jp" target="_blank">gogle</a>
        <ol>
        <li>ああ</li>
        <li>いい</li>
        </ol>
        <table border="1">
          <tr>
            <th colspan="2">プラン名</th>
          </tr>
          <tr>
            <td rowspan="2">わくわくプラン</td>
            <td>月額2,900円</td>
          </tr>
          <tr>
            <td>月額1,900円</td>
          </tr>
        </table>
        名前：<input type="text" placeholder="名前">
      <div>
        性別：
        <input type="checkbox" name="gender" value="男">男
        <input type="checkbox" name="gender" value="女" checked="女">女
      </div>
      </body>
</html>
